.main-nav {
    width: 100%;
    height: 35px;
    border-top: 1px solid #00BFFF;
    border-bottom: 1px solid #00BFFF;
    color: #FFD700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.main-nav a:hover {
    color: #F88C00;
}

.active {
    color: #cf4839;
}