.app-header {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.title {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 30px 0;
  color: #CF4839;
  font-family: 'Ubuntu Mono', monospace;
}

.cursor {
  color: #F88C00;
  animation: blink 2s infinite both;
  -webkit-animation: blink 2s infinite both;
}

/*Cursor animation*/
@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .app-header {
    width: 100%;
    padding: 0 10px;
  }
}