/* General Styles */
h3 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
    font-weight: bolder;
    color: #FFD700;
}

p {
    margin: 20px 0;
    line-height: 1.25;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Landing Page */
.lambda-link {
    color: #CF4839;
    text-decoration: underline #00BFFF;
}

/* About Me Page */
.about-me-content {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.about-me-text {
    width: 50%;
    line-height: 1.25;
    padding: 20px;
}

.about-me-pic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.self-portrait {
    border-radius: 50%;
    max-width: 250px;
}

/* Skills Page */
.skills-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}