/* General Styles */
h3 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
    font-weight: bolder;
    color: #FFD700;
}

p {
    margin: 20px 0;
    line-height: 1.25;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Landing Page */
.lambda-link {
    color: #CF4839;
    text-decoration: underline #00BFFF;
}

/* Skills Page */
.skills-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}