/** Global Styles **/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: #272F3F;
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    color: #DAA520;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}