.footer-container {
    position: fixed;
    bottom: 20px;
    z-index: 1;
}

.footer-links {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: #C64A3D;
}

.f-link:hover {
    color: #F88C00;
}

@media (max-width: 800px) {
    .footer-container {
        position: static;
    }
}