.footer-container {
    position: fixed;
    bottom: 20px;
}

.footer-links {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: #C64A3D;
}

.f-link:hover {
    color: #F88C00;
}